.welcome-page{
    
    padding: 3rem 2rem 2rem 2rem
}
.welcome-header{
    display: flex;
    flex-direction: column;
}
.welcome-user{
    display: flex;
    justify-content: space-between
}
.user-details{
    display: flex;
    flex-direction: column;
}
.name{
    font-weight: bolder;
    margin-top: 3px;
}
.user-img{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    border: 3px solid #28C101

}
.time-date{
    padding-top: 2rem;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}
.event-directory{
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 100%;
    
}
.event-directory > div{
    margin-top: 1rem;
    
}
.path{
    
    background:#28C101;
    min-width: 180px;
    min-height: 240px;
    padding: 2rem 2rem 0rem 2rem;
    border-radius: 5px;
    color: white;
    
}
.directoryicon{
    margin-top: 120px;
}
.welcomenav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    border-top: 1px solid #f4f4fe;
    align-items: center;
    text-align: center;
    line-height: 1.7;
}
.page{
    
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}



