
.welcome-header {
  display: flex;
  flex-direction: column;
}
.welcome-user {
  display: flex;
  justify-content: space-between;
}
.user-details {
  display: flex;
  flex-direction: column;
}
.name {
  font-weight: bolder;
  margin-top: 3px;
}
.user-img {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  border: 3px solid #28c101;
}
.time-date {
  padding-top: 2rem;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
.event-directory {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  width: 100%;
}
